ui = true
cluster_addr = "http://0.0.0.0:8201"
api_addr     = "http://0.0.0.0:8200"
api_addr     = "http://0.0.0.0:8200"

disable_mlock = true

storage "raft" {
  path    = "/var/lib/vault/data"
  node_id = "raft_node_1"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = true
}
